.RatingFilterContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.RatingsContainer {
  margin: 10px 25px;
}

.RatingButton {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  border: none;
  font-size: 0.9em;

  &:hover {
    font-size: 1em;
  }
}

.RatingButtonActive {
  font-size: 1em;
  border: none;
  background-color: #fff;
  color: #f70000;
  cursor: pointer;

  &:hover {
    font-size: 1.1em;
  }
}
