.SearchContainer {
  width: 100%;
  max-width: 500px;
  display: flex;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 10px;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.SearchContainer input {
  flex: 1;
  padding: 8px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}

.SearchContainer input::placeholder {
  color: #999;
}

.SearchContainer img {
  height: 20px;
  margin-left: 10px;
}

.SearchContainer input:focus {
  border: 2px solid #3498db;
  box-shadow: 0 0 6px rgba(52, 152, 219, 0.5);
}
