.CardContainer {
  border: solid 1px #8b8b8b;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
}

.CardContainer .ProductImageContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.CardContainer img {
  width: 100px;
  height: 100px;
  aspect-ratio: 4/3;
  object-fit: contain;
  mix-blend-mode: color-burn;
}
